---
layout: post
title: ガスボンベ式発電機を試運転
date: 2025-11-06
last_updated: 2026-02-27
author: 福島健児
thumbnail:
tags:
categories:
---

研究所の計画停電に合わせてガスボンベ式発電機を試運転しました。停電時の運用を想定し、起動手順や接続方法を確認しました。万一の電源喪失時には、この発電機でラボのフリーザーを継続稼働させ、試料を保全する計画です。稼働にエンジンオイルが必要なことに当日気付いて買い出しに行きました。

{% include figure.liquid path="assets/img/posts/20251106_generator_test_run.jpg" class="img-fluid rounded z-depth-1 mx-auto d-block" width="450" alt="ガスボンベ式発電機の試運転準備の様子" %}
